@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body{
    font-family: 'Montserrat', sans-serif;
    background: #222222;
    margin: 0;
}

.hidden{
    display: none;
}

#removeForm input[type=submit]{
    font-family: Montserrat;
    font-weight: 700;
    background: #9b1a0a;
    text-decoration: none;
    color: #d3d1d1;
    border-radius: 40px;
}

.btn{
    font-family: Montserrat;
    font-weight: 700;
    background: #9b1a0a;
    text-decoration: none;
    color: #d3d1d1;
    border-radius: 40px;
}

.content{
    grid-area: content;
}

.skills{
    grid-area: skills;
}

.projects{
    grid-area: projects;
}

.contacts{
    grid-area: contacts;
    margin: 50px 0;
    color: #ccc;
}

.sidebar{
    grid-area: sidebar;
    background: linear-gradient(to right, #9b1a0a 0%, #5a1309 100%);
    justify-content: center;    
}

footer{
    grid-area: footer;
    background: #331A42;
    margin: 0;
}

.container{
    font-size: 1.5em;
    width: 100%;
    display: grid;
    grid-template-areas: "sidebar" "content" "skills" "projects" "contacts" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto auto auto auto;
}

.content, .sidebar, .footer{
    padding: 1em;
}

/********************************************** 
                    NAV
 **********************************************/
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav li{
    list-style: none;
    padding: 1em 0;    
}

nav li a{
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.7em;
}

nav li a:hover{
    opacity: 1;
}

/********************************************** 
                    HERO
 **********************************************/

.hero{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.hero img{
    width: 200px;
    border-radius: 50%;
}

.hero h1{
    font-size: 2em;
    font-weight: 700;
    /* color: #9b1a0a; */
    color: #a65dff;
}

.hero p{
    color: #d3d1d1;
}

.hero-cv{
    display: inline-block;
    text-decoration: none;
    color: #d3d1d1;
    font-weight: 700;
    background: #9b1a0a;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}

.hero-cv:hover{
    box-shadow: 0 10px 50px #000000;
    color: white;
}

#typewriter{
    height: 20vh;
}

#hero-edit form input{
    padding: 5px;
    margin: 5px;
    width: 70%; 
}

#hero-edit form textarea{
    padding: 5px;
    margin: 5px;
    width: 70%; 
}

/********************************************** 
                    Skill
 **********************************************/

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-rows: repeat(2, 100px); */
    margin: 10vh 0;
}

.bar-text{
    grid-area: title;
    color: #ccc;
    margin-right:  10px;
}

.bar{
    grid-area: bar;
    color: #222222;
    border:1px solid #ccc;
    margin: auto 0;
}

.bar-inner{
    background: #9b1a0a;
}

.bar-container{
    position: relative;
    display: grid;
    grid-template-areas: "title bar";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr ;
    margin: 0 50px;
}

.control{
    position: absolute;
    top:0;
    right:0;
}

.control img, .addSkill{    
    opacity: 0.7;
}

.control img:hover, .addSkill:hover{
    opacity: 1;
}

.newbar-container{
    padding: 0 20px;
    text-align: center;
}

input[type=text], input[type=number]{
    width: 60%;
    /* margin: 0 auto; */
}

input[type=submit]{
    font-family: Montserrat;
    font-weight: 700;
}


/********************************************** 
                    Project
 **********************************************/

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 10vh 20px;
}

.newporject-container{
    padding: 0 20px;
    text-align: center;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;    
    background-color: rgb(62, 32, 80);
    /* overflow: hidden; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
    text-align: center;
}

.card-container h4{
    color: #ccc;
}

.card-container p{
    color: #ccc;
    opacity: 0.7;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/********************************************** 
                    CONTACTS
 **********************************************/

.contacts form{
    color: #ccc;
}

.contacts #E-mail, .contacts textarea{    
    width: 70%;
    margin: 5px;
    padding: 5px;
    background-color: rgb(132, 126, 165);
}

.contacts input[type="submit"]{
    padding: 10px 20px;
}

/********************************************** 
                    FOOTER
 **********************************************/

footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer ul li{
    list-style: none;
    align-self: flex-end;
}

footer ul li svg{
    width: 20%;
    fill: rgb(197, 197, 197);
    transition: 0.5s;
}

footer ul li svg:hover{
    width: 40%;
    fill: rgb(224, 224, 224); 
}

/********************************************** 
                    Media
 **********************************************/

@media (min-width:1040px){
    .container{    
        grid-template-areas: "sidebar content" "sidebar skills" "sidebar projects" "sidebar contacts" "footer footer";
        grid-template-columns: 200px 1fr;
        grid-template-rows: 100vh auto auto;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
    }

    nav li a{
        font-size: 1em;
    }

    .sidebar{
        background: linear-gradient( #9b1a0a 0%, #331A42 80%);
        position: fixed;
        height: 100vh;
    }

    .hero{
        text-align: left;
        margin: 2em auto;
    }

    .hero img{
        width: 250px;
        float: right;
    }
}